<div class="container my-4">
    <div class="row">
        <div class="col-md-4">
            <div style="text-align: center;" class="card card-sm">
                <h5>Total Customers</h5>
                <hr>
                <p class="text-mute">{{total_customers}}</p>
            </div>
        </div>
        <div class="col-md-4">
            <div style="text-align: center;" class="card card-sm">
                <h5 style="text-align: center;">Total Orders</h5>
                <hr>
                <p class="text-mute">{{total_orders}}</p>
            </div>
        </div>
        <div class="col-md-4">
            <div style="text-align: center;" class="card card-sm">
                <h5 style="text-align: center;">orders delivered</h5>
                <hr>
                <p class="text-mute">{{total_delivered}}</p>
            </div>
        </div>
    </div>
</div>